.nav-logo {
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: var(--link-decoration);
  margin-right: 93px;
}

.nav-logo-title--color {
  color: #2196f3;
}
