.header {
  background-color: var(--second-color);
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.container-nav-link {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
