.mobile {
  background-color: inherit;
  border: 0px;
  display: flex;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-container {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  > .mob-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}

.mob-close {
  display: block;
  margin-left: auto;
  border: 0px;
  padding: 0px;
  background-color: inherit;
  margin-bottom: 8px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-close:hover,
.mob-close:focus {
  fill: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu {
  margin-bottom: 302px;
}

.menu-list-items {
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}

.menu-list-items:not(last-chaild) {
  margin-bottom: 32px;
}

.menu-list-item {
  text-decoration: none;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list-item:hover,
.menu-list-item:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-contacts {
  list-style: none;
}

.tel-indent {
  margin-bottom: 32px;
}

.mob-contact-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mail-indent {
  margin-bottom: 64px;
}

.mob-contact-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}
.mob-soc-list {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc {
  position: relative;
  list-style: none;
}

.mob-soc-item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-soc-item:not(last-child) {
  margin-right: 20px;
}

.mob-instagram::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-twitter::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

.mob-facebook::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 22px;
  right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}
