.out-team {
  // padding-top: 94px;
  // padding-bottom: 94px;
  background-color: var(--background-team);
  padding-top: 60px;
  padding-bottom: 60px;
}

.work-team {
  list-style: var(--point);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .player {
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 5px;
  }

  .player-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
  }

  .player-teams {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
      &:not(:last-child) {
        margin-bottom: 0px;
      }
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }
}

.job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-item-tel-mail);
  margin-top: 10px;
}

.networks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 10px;
}

.networks-player {
  list-style: var(--point);
}

.networks-player-element {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.social-networks {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .networks-player-element:hover & {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .networks-player-element:hover & {
    fill: #ffffff;
  }

  .networks-player-element:focus & {
    fill: #ffffff;
  }
}
