.title {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/phototitle-mob.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // max-width: 1600px;
  margin: 0 auto;

  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/phototitle-mob-2x.jpg);
  }

  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/phototitle-tab.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/phototitle-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/phototitle.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../../images/phototitle-2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 195px;
    padding-bottom: 200px;
  }
}

.title__container-title {
  @media screen and (min-width: 480px) and (min-width: 768px) {
    max-width: 360px;
    padding: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 696px;
  }
}

.title__header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.title__btn {
  max-width: 200px;
  height: 50px;
  width: 100%;

  display: block;
  margin: 0 auto;
  // padding-top: 10px;
  // padding-right: 32px;
  // padding-bottom: 10px;
  // padding-left: 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  background: #2196f3;

  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
