:root {
    --second-color: #FFFFFF;
    --brend-color: #2F303A;
    --background-team: #F5F4FA;
    --color-item-tel-mail: #757575;
    --link-decoration: none;
    --point: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}