:root {
  --second-color: #ffffff;
  --brend-color: #2f303a;
  --background-team: #f5f4fa;
  --color-item-tel-mail: #757575;
  --link-decoration: none;
  --point: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

.no-scroll {
  overflow: hidden;
}
